body{
    background: #e023e0;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


#dark{
    background-color: black;
    text-align: center;
    color: white;
    cursor: pointer;
    
}

#light{
    background-color: lightgray;
    text-align: center;
    color: black;
    cursor: pointer;
}